
Beginner/First.sln
Beginner/First.sln.DotSettings.user
Beginner/First/bin/Debug/net6.0/First.deps.json
Beginner/First/bin/Debug/net6.0/First.dll
Beginner/First/bin/Debug/net6.0/First.exe
Beginner/First/bin/Debug/net6.0/First.pdb
Beginner/First/bin/Debug/net6.0/First.runtimeconfig.json
Beginner/First/First.csproj
Beginner/First/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Beginner/First/obj/Debug/net6.0/apphost.exe
Beginner/First/obj/Debug/net6.0/First.AssemblyInfoInputs.cache
Beginner/First/obj/Debug/net6.0/First.AssemblyInfo.cs
Beginner/First/obj/Debug/net6.0/First.assets.cache
Beginner/First/obj/Debug/net6.0/First.csproj.BuildWithSkipAnalyzers
Beginner/First/obj/Debug/net6.0/First.csproj.CoreCompileInputs.cache
Beginner/First/Program.cs
Beginner/First/obj/rider.project.restore.info
Beginner/First/obj/rider.project.model.nuget.info
Beginner/First/obj/Release/net6.0/First.GlobalUsings.g.cs
Beginner/First/obj/Release/net6.0/First.GeneratedMSBuildEditorConfig.editorconfig
Beginner/First/obj/Release/net6.0/First.csproj.AssemblyReference.cache
Beginner/First/obj/Release/net6.0/First.assets.cache
Beginner/First/obj/Release/net6.0/First.AssemblyInfoInputs.cache
Beginner/First/obj/Release/net6.0/First.AssemblyInfo.cs
Beginner/First/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Beginner/First/obj/project.packagespec.json
Beginner/First/obj/project.nuget.cache
Beginner/First/obj/project.assets.json
Beginner/First/obj/First.csproj.nuget.g.targets
Beginner/First/obj/First.csproj.nuget.g.props
Beginner/First/obj/First.csproj.nuget.dgspec.json
Beginner/First/obj/Debug/net6.0/refint/First.dll
Beginner/First/obj/Debug/net6.0/ref/First.dll
Beginner/First/obj/Debug/net6.0/First.sourcelink.json
Beginner/First/obj/Debug/net6.0/First.pdb
Beginner/First/obj/Debug/net6.0/First.GlobalUsings.g.cs
Beginner/First/obj/Debug/net6.0/First.genruntimeconfig.cache
Beginner/First/obj/Debug/net6.0/First.GeneratedMSBuildEditorConfig.editorconfig
Beginner/First/obj/Debug/net6.0/First.dll
Beginner/First/obj/Debug/net6.0/First.csproj.FileListAbsolute.txt
